*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Ancient Medium";
    src: url(../fontes/Ancient-Medium.woff);
}

@font-face{
    font-family: "BringHeart";
    src: url(../fontes/BringHeart.woff);
}

@font-face{
    font-family: "MadelinaScript";
    src: url(../fontes/MadelinaScript.woff);
}

h1{
    font-size: 6em;
    font-family: "MadelinaScript";
}